
@{
    ViewBag.Title = "GetEmployeeView";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <div> 
        @{ 
            HelloMVC.Models.Employee emp = new HelloMVC.Models.Employee();
            emp.FirstName = "Pradeep";
            emp.LastName = "kumar";
            emp.Salary = 40000;
        }
        <b>EMployee Detaiuls</b><br/>
        Employee Name:@emp.FirstName @emp.LastName <br />
        Employee Salary:@emp.Salary.ToString("C");
    </div>
</body>
</html>
